<div class="row margin-bottom">
    <div ng-click="routeToAddChallenge()" class="btn btn-primary pull-right"> Add New Challenge </div>
</div>
<div class="row">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Challenge Name</th>
            <th>Target</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="challenge in challangeList">
            <th scope="row">{{$index}}</th>
            <td>{{challenge._id}}</td>
            <td>{{challenge.target}}</td>
            <td>{{challenge.startTime}}</td>
            <td>{{challenge.endTime}}</td>
        </tr>    
    </tbody>
    </table> 
</div>