<div class="row">
	<div class="col-xs-10 col-md-10">
		<p>{{homeCtrl.content}}</p>
	</div>

	<div class="col-xs-2 col-md-2">
		<span data-ng-click="homeCtrl.logoutUser()">Logout </span>
	</div>
</div>

<div class="row">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Challenge Name</th>
            <th>Target</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="">
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>    
    </tbody>
    </table> 
</div>


